<!-- <div>
  <h2>
    The user address is:
  </h2>
  <p> Suit: {{userDetails.address.suite}} </p>
  <p>Street: {{userDetails.address.street}} </p>
  <p>City: {{userDetails.address.city}} </p>
  <p>Zip Code: {{userDetails.address.zicode}} </p>

  <h2>
    Company Name: {{userDetails.company.name}}
  </h2>
</div> -->


<div class="jumbotron">
  <h1 class="display-4">User Details</h1>
  <p class="lead">Suit: {{userDetails.address.suite}}</p>
  <p class="lead">Street: {{userDetails.address.street}}</p>
  <p class="lead">City: {{userDetails.address.city}}</p>
  <p class="lead">Zip Code: {{userDetails.address.zicode}}</p>
  <hr class="my-4">

  <p class="lead">
    Company Name: {{userDetails.company.name}}
  </p>
</div>
